---
# yamllint disable rule:truthy
name: Validate Prisma Schema

on:
  push:
    branches:
      - main
    paths:
      - "prisma/**"
      - "package.json"
      - "package-lock.json"

  pull_request:
    branches:
      - main
    paths:
      - "prisma/**"
      - "package.json"
      - "package-lock.json"

permissions:
  contents: read

jobs:
  validate-schema:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm ci

      - name: Validate Prisma schema
        run: |
          npx prisma validate
          npx prisma generate --no-hints --schema=prisma/schema.prisma
