name: Validate Secrets

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - sprint-*
  push:
    branches:
      - sprint-*
      - main

jobs:
  validate-secrets:
    name: Check GitHub Secrets
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install jq
        run: sudo apt-get install jq -y

      - name: Validate Secrets
        id: validate
        run: |
          node .github/scripts/validate-secrets.js

      - name: Fail if missing
        if: failure()
        run: exit 1
